.heading {
  color:  #00ccffe3;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  margin-top: 50px;
  font-size: 51px;
}
.bulb {
  height: 278px;
  width: 237px;
  position: absolute;
  left: 926px;
  top: 205px;
  border: 1px solid rgb(122, 122, 122);
  border-radius: 50%;
}

.on .bulb {
  background-color: yellow;
  box-shadow: 0px 0px 73px 20px #999900;
}

.bulb::after {
  position: absolute;
  content: " ";
  background-color: rgb(74 73 73);
  height: 67px;
  top: 268px;
  left: 73px;
  width: 90px;
  border-radius: 0px 0px 28px 28px;
  border-bottom: 28px solid #141414;
}

.btn {
  position: absolute;
  cursor: pointer;
  height: 60px;
  top:313px;
    left: 602px;
  width: 60px;
  border-radius: 50%;
  background-color: honeydew;
}
.btn::before,.changing::before {
  display: flex;
  color: whitesmoke;
  content: "OFF";
  top: 3px;
  font-size: 21px;
  font-weight: 700;
  font-family: 'Prompt',sans-serif;
  position: absolute;
  left: 3px;
  text-align: center;
  height: 54px;
  width: 54px;
  box-shadow: 6px 1px 12px 6px #060606;
  background-color: #9f0000;
  border-radius: 50%;
  justify-content: space-around;
  align-content: stretch;
  flex-direction: column;
}

.on .btn::before {
  content: "ON";
  background-color: green;
}

.changing {
  position: absolute;
  cursor: pointer;
  height: 60px;
  top: 446px;
  left: 767px;
  width: 60px;
  border-radius: 50%;
  background-color: honeydew;
}

.changinga .changing::before {
  content: "ON";
  background-color: green;
}
.onoff{
  position: absolute;
    font-family: 'Rubik',sans-serif;
    font-size: 23px;
    color: #dddda0;
}
#on1{
  top: 332px;
  left: 144px;
}
#on2{
  top: 465px;
  left: 144px;
}
.note{
  color: #e5e8ff;
    font-size: 18px;
    position: absolute;
    top: 633px;
    left: 104px;
  font-family: 'Padauk', sans-serif;
}
@-webkit-keyframes blackWhite {
  0% {
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 0px 73px 20px rgb(82, 0, 0);
  }
  25% {
    background-color: rgb(234, 0, 255);
    box-shadow: 0px 0px 73px 20px rgb(81, 0, 88);
  }
  50% {
    background-color: rgb(43, 46, 226);
    box-shadow: 0px 0px 73px 20px rgb(0, 2, 93);
  }
  75% {
    background-color: rgb(0, 255, 42);
    box-shadow: 0px 0px 73px 20px rgb(0, 100, 17);
  }
  100% {
    background-color: rgb(251, 255, 4);
    box-shadow: 0px 0px 73px 20px rgb(109, 110, 0);
  }
}
.changinga .bulb {
  -webkit-animation-name: blackWhite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
}
.bulbs {
  height: 30px;
  width: 20px;
  border-radius: 20px;
  margin-top: 25px;
  border: 1px solid rgb(255, 243, 243);
}
.led1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
}
.led2 {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: column;
}
@-webkit-keyframes b1 {
  0% {
    background-color: rgb(255, 0, 98);
    box-shadow: 0px 0px 40px 10px rgb(88, 0, 34);
  }
  25% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  75% {
    background-color: rgb(255, 0, 98);
    box-shadow: 0px 0px 40px 10px rgb(88, 0, 34);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
}
#b1,
#b13 {
  -webkit-animation-name: b1;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;
}
@-webkit-keyframes b2 {
  0% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  25% {
    background-color: rgb(251, 255, 0);
    box-shadow: 0px 0px 40px 10px rgb(92, 93, 0);
  }
  75% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  100% {
    background-color: rgb(251, 255, 0);
    box-shadow: 0px 0px 40px 10px rgb(92, 93, 0);
  }
}
#b2,
#b16 {
  -webkit-animation-name: b2;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
}
@-webkit-keyframes b3 {
  0% {
    background-color: rgb(17, 0, 255);
    box-shadow: 0px 0px 40px 10px rgb(7, 0, 109);
  }
  25% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  75% {
    background-color: rgb(17, 0, 255);
    box-shadow: 0px 0px 40px 10px rgb(7, 0, 109);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
}
#b3,
#b19 {
  -webkit-animation-name: b3;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;
}
@-webkit-keyframes b4 {
  0% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  25% {
    background-color: rgb(21, 255, 0);
    box-shadow: 0px 0px 40px 10px rgb(9, 105, 0);
  }
  75% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  100% {
    background-color: rgb(21, 255, 0);
    box-shadow: 0px 0px 40px 10px rgb(9, 105, 0);
  }
}
#b4,
#b12 {
  -webkit-animation-name: b4;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.8s;
}
@-webkit-keyframes b5 {
  0% {
    background-color: rgb(187, 106, 0);
    box-shadow: 0px 0px 40px 10px rgb(82, 46, 0);
  }
  25% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  75% {
    background-color: rgb(187, 106, 0);
    box-shadow: 0px 0px 40px 10px rgb(82, 46, 0);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
}
#b5,
#b21 {
  -webkit-animation-name: b5;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;
}
@-webkit-keyframes b6 {
  0% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  25% {
    background-color: rgb(0, 255, 255);
    box-shadow: 0px 0px 40px 10px rgb(0, 87, 87);
  }
  75% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  100% {
    background-color: rgb(0, 255, 255);
    box-shadow: 0px 0px 40px 10px rgb(0, 87, 87);
  }
}
#b6,
#b18 {
  -webkit-animation-name: b6;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.6s;
}
@-webkit-keyframes b7 {
  0% {
    background-color: rgb(108, 20, 124);
    box-shadow: 0px 0px 40px 10px rgb(59, 0, 70);
  }
  25% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  75% {
    background-color: rgb(108, 20, 124);
    box-shadow: 0px 0px 40px 10px rgb(59, 0, 70);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
}
#b7,
#b22 {
  -webkit-animation-name: b7;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
}
@-webkit-keyframes b8 {
  0% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  25% {
    background-color: rgb(255, 123, 0);
    box-shadow: 0px 0px 40px 10px rgb(107, 52, 0);
  }
  75% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  100% {
    background-color: rgb(255, 123, 0);
    box-shadow: 0px 0px 40px 10px rgb(107, 52, 0);
  }
}
#b8,
#b14 {
  -webkit-animation-name: b8;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.5s;
}
@-webkit-keyframes b9 {
  0% {
    background-color: rgb(214, 34, 205);
    box-shadow: 0px 0px 40px 10px rgb(90, 0, 86);
  }
  25% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  75% {
    background-color: rgb(214, 34, 205);
    box-shadow: 0px 0px 40px 10px rgb(90, 0, 86);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
}
#b9,
#b17 {
  -webkit-animation-name: b9;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.8s;
}
@-webkit-keyframes b10 {
  0% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  25% {
    background-color: rgb(161, 209, 49);
    box-shadow: 0px 0px 40px 10px rgb(67, 95, 0);
  }
  75% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  100% {
    background-color: rgb(161, 209, 49);
    box-shadow: 0px 0px 40px 10px rgb(67, 95, 0);
  }
}
#b10,
#b20 {
  -webkit-animation-name: b10;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.6s;
}
@-webkit-keyframes b11 {
  0% {
    background-color: rgb(43, 163, 93);
    box-shadow: 0px 0px 40px 10px rgb(0, 59, 25);
  }
  25% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
  75% {
    background-color: rgb(43, 163, 93);
    box-shadow: 0px 0px 40px 10px rgb(0, 59, 25);
  }
  100% {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 40px 10px rgba(104, 0, 0, 0);
  }
}
#b11,
#b15 {
  -webkit-animation-name: b11;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.7s;
}
